@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  color: var(--texto);
  --texto: #dfdede;
  --texto-cinza: #aeaeae;
  --fundo: #302e2b;
  --fundo-claro: #3c3b39;
  --verde: #81b64c;
  --verde-borda: #45753c;
  --vermelho: #fa422d;
  --vermelho-borda: #a40e0e;
  --caixa: #262522;
  --preto: #1e1e1b;
  --preto-borda: #121210;
}
button {
  cursor: pointer;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--fundo);
}
.wrapper {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'main sidebar';
  justify-items: center;
}

aside {
  background-color: var(--caixa);
  grid-area: sidebar;
  height: 100%;
  width: 100%;
  min-width: 200px;
}

.container {
  padding-top: 15px;
  grid-area: main;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-caixa {
  font-weight: 700;
  font-size: 24px;
}

.titulo-linha {
  grid-area: titulo;
}

.caixa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'titulo titulo'
    'nome lista';
  column-gap: 30px;
  color: var(--texto);
  background-color: var(--caixa);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  min-height: 420px;
  height: auto;
  padding: 20px;
  align-items: start;
}

.titulo {
  font-weight: 800;
  width: 80%;
  max-width: 800px;
  display: flex;

  font-size: 2.5rem;
  margin-bottom: 15px;
}

.titulo h1 {
  align-self: end;
  transform: translateY(4px);
}
.titulo img {
  height: 64px;
  align-self: center;
}
.button {
  height: 75px;
  width: 45%;
  color: var(--texto);
  font-weight: 600;
  background-color: var(--verde);
  border-bottom: 3px var(--verde-borda) solid;
  text-align: center;
  font-size: 2rem;
  border-radius: 8px;
}

.botoes {
  margin-top: 15px;
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 10px 0 20px 0;
  width: 100%;
  border-top: 1px var(--fundo-claro) solid;
}

.nome {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--texto-cinza);
  padding: 10px;
  border-radius: 8px;
  height: 60px;
  max-width: 350px;
  width: 100%;
  background-color: var(--fundo-claro);
  border: 1px var(--texto-cinza) solid;
}

.add-nome {
  grid-area: nome;
  max-width: 350px;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.add-nome button {
  width: 100%;
}

table {
  width: 100%;
  font-weight: 600;
}

th {
  padding-left: 10px;
  font-weight: 600;
  color: var(--texto-cinza);
}

thead tr {
  background-color: var(--preto);
  border: none;
}

tr {
  display: flex;
  align-items: center;
  min-height: 45px;
  height: auto;
  border-bottom: 1px var(--fundo-claro) solid;
}

td {
  width: 100%;
  font-size: 1.5rem;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
}

td:last-child {
  padding-right: 10px;
}
#tabela-jogadores {
  grid-area: lista;
}

.preto {
  background-color: var(--preto);
  border-color: var(--preto-borda);
}

aside {
  padding: 0 20px 20px 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  align-items: center;
}
.titulo-aside {
  margin: 15px 0 0 20px;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
}

.titulo-aside img {
  width: 40px;
}

ol {
  line-height: 1.5rem;
  padding-left: 20px;
  list-style: decimal;
}

li {
  margin-bottom: 15px;
}

.verde {
  color: var(--verde);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 35px;
  width: 40px;
  background-color: var(--vermelho);
  border-bottom: 3px var(--vermelho-borda) solid;
}
.delete img {
  height: 50%;
}
.td-botao {
  width: auto;
}

#caixa-partidas {
  grid-template-areas:
    'titulo titulo'
    'partidas lista';
}

#partidas {
  grid-area: partidas;
}

.partida {
  margin-bottom: 15px;
}

.partida-nomes p {
  max-width: 170px;
  width: 50%;
  text-align: center;
}

.partida-nomes {
  font-weight: 600;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: var(--preto);
}

.partida-botoes {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.vencer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 50%;
  height: 45px;
  background-color: var(--verde);
  border-bottom: 3px var(--verde-borda) solid;
  border-radius: 8px;
}

#tabela-ranking {
  grid-area: lista;
}

.pontos {
  width: auto;
}

.perdedor {
  background-color: var(--preto);
  border-color: var(--preto-borda);
}
.vermelho {
  color: var(--vermelho);
}

.verde {
  color: var(--verde);
}
@media (max-width: 1150px) {
  .botoes {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .button {
    margin-bottom: 10px;
    width: 100%;
  }
  .caixa {
    height: auto;
    min-height: 420px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'titulo'
      'nome'
      'lista';
  }
  #caixa-partidas {
    grid-template-areas:
      'titulo'
      'partidas'
      'lista';
  }
  #tabela-jogadores,
  #tabela-ranking {
    margin-top: 10px;
  }
}

@media (max-width: 690px) {
  .vencer {
    width: 100px;
  }
  td {
    font-size: 18px;
  }
  aside {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'main';
  }
}
